.breadcrumb{
    background-color:#563d7c;
    border-radius: 0;
}
a,a:hover{
    color: white;
    font-weight: bold;
}
nav{
    position: fixed;
    top:0;
    width: 100%;
}
table{
    margin-top: 100px;

}
thead{
    cursor: pointer;

}
table a ,table a:hover{
    color:black;
}
ion-icon{
    font-size: 24px;
    color: #563d7c;
}
tbody{
    display: block;
    height: 400px;
    overflow-y:scroll;
}
thead tbody,tr{
    display: table;
    table-layout: fixed;
    width: 100%;

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #563d7c;
}

